<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider</title>

    <link rel="stylesheet" href="./assets/css/style.css">
    <!-- link fontawesome 6.4.0 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="app">
        <div class="vh-100">
            <div class="container">
                <div class="slider">
    
                    <div class="items">
    
                        <div class="item" v-for="(slide, index) in slides" :key="index" :class="{'active': currentActive === index}">
                            <img :src="'./assets/' + slide.image" :alt="slide.title" />
                            <div class="description">
                                <h4>{{ slide.title }}</h4>
                                <p>{{ slide.text }}</p>
                            </div>
                        </div>
                          
                        
                    </div> 
    
                </div>
                <div class="thumbnails">
                    <div class="prev btn" @click="prev"><i class="fa-solid fa-angle-up"></i></div>
                    <div class="next btn" @click="next"><i class="fa-solid fa-angle-down"></i></div>
                        
                    <div class="thumbnail" v-for="(slide, index) in slides" 
                        @click="currentActive = index"
                        :class="{ active: currentActive === index }"
                    >
                        <img  
                            :key="index" 
                            :src="`./assets/${slide.image}`" 
                            :alt="`immagine thumb n. ${index}`"
                             
                        />
                    </div>
                      
                        
            </div>
    
            <!-- <div class="pulsanti">
    
                <div class="rew btn"><i class="fa-solid fa-backward"></i></div>
                <div class="play btn"><i class="fa-solid fa-play"></i></div>
                <div class="pause btn"><i class="fa-solid fa-pause"></i></div>
    
            </div> -->
        </div>

    </div>


    <script src="https://unpkg.com/vue@3"></script>
    <script src="./assets/js/main.js"></script>
    
</body>
</html>