@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.vh-100{
    height: 100vh;
    display: flex;
    align-items: center ;
    background-color: #3e3e42;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.container{
    width: 50vw;
    height: 50vh;
    display: flex;
}

.slider{
    height: 100%;
    width: 70%;
}

.items{
    height: 100%;
}

.items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item.active{
    display: block;
}

.thumbnail.active{
    filter: brightness(2);
}

.item{
    display: none;
    height: 100%;
    position: relative;
}

.description{
    padding: 15px 20px;
    position: absolute;
    color: white;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: end;
    background-color: rgba(0, 0, 0, 0.8);
}

h4{
    padding-bottom: 5px;
}

.next,
.prev{
    font-size: 15px;
    cursor: pointer;
}

.btn{
    border: 1px solid rgba(126, 126, 126, 0.8);
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(126, 126, 126, 0.4);
    z-index: 1;
}

.prev{
    position: absolute;
    top: 5px;
    right: calc(50% - 15px);
}

.next{
    position: absolute;
    bottom: 5px;
    right: calc(50% - 15px);
}

.thumbnails{
    height: 100%;
    position: relative;
    width: 30%;
}

.thumbnail{
    height: calc(100% / 5);
    width: 100%;
}

.thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}


.btn:hover{
    background-color: rgb(160, 154, 154);
    cursor: pointer;
}

.pulsanti{
    display: flex;
    margin-top: 10px;
}

.pulsanti div{
    margin: 0 10px;
}

.thumbnail:hover{
    cursor: pointer;
    filter: brightness(2);
}